[Unit]
Description=System backup with Borg
After=network-online.target

[Timer]
OnBootSec=300
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
