[Unit]
Description=System backup with Borg

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart=%h/git/backup/backup.sh |& tee -a "%h/.log/borg-$(hostname)-$(date +"$Y%-%m-%d").log"
